Code/RaspiberryPiNodeRedFlow
[{"id":"855dcde9.c9426","type":"tab","label":"Main Flow"},{"id":"153e6343.f209ed","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b5f88839.9073b8","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1182c28f.016d9d","type":"nodebot","z":"","name":"","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"e4d4684d.51e148","type":"wiotp-credentials","z":"","name":"","org":"mn1ejz","serverName":"","devType":"Raspiberry","devId":"raspi2","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"b293b816.e4ff68","type":"microPi","z":"855dcde9.c9426","name":"Grava Som","filename":"/home/pi/audio/demo.wav","domain":"","rate":"44100","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"0","debug":"false","mode":"","x":289.5,"y":196.5,"wires":[[],["218ccf26.23373"],[]]},{"id":"e636a57a.d23338","type":"watson-speech-to-text","z":"855dcde9.c9426","name":"","continuous":true,"speakerlabels":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"yDt2mbklVaKb","x":629,"y":195,"wires":[["bf85e82d.de5c68"]]},{"id":"aaccd89c.af1da8","type":"watson-text-to-speech","z":"855dcde9.c9426","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"Bfz8kkXUPGfC","x":617,"y":382,"wires":[["3625059e.882b4a"]]},{"id":"3625059e.882b4a","type":"speaker out","z":"855dcde9.c9426","name":"Speaker Out","channels":"2","bitDepth":"16","sampleRate":"11025","x":804,"y":383,"wires":[]},{"id":"49dd5e45.576f5","type":"http request","z":"855dcde9.c9426","name":"Envia texto para servidor","method":"POST","ret":"txt","url":"https://tj-care.mybluemix.net/tjBotChat","tls":"","x":556.5,"y":266,"wires":[["aaccd89c.af1da8","cb0997e6.661588"]]},{"id":"bf85e82d.de5c68","type":"function","z":"855dcde9.c9426","name":"Extrai texto","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":161.5,"y":299,"wires":[["1bc35ab4.61e8b5"]]},{"id":"1bc35ab4.61e8b5","type":"switch","z":"855dcde9.c9426","name":"Tem texto?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":325,"y":302,"wires":[["49dd5e45.576f5"],["ef259282.da031"]]},{"id":"ef259282.da031","type":"function","z":"855dcde9.c9426","name":"Erro","func":"msg.payload = \"Deculpa, não consegui entender.\"\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":386,"wires":[["aaccd89c.af1da8"]]},{"id":"af7e192b.d51f18","type":"rpi-gpio in","z":"855dcde9.c9426","name":"Pressiona Botão","pin":"7","intype":"up","debounce":"500","read":false,"x":119,"y":37,"wires":[["4a0019de.8140e8"]]},{"id":"c8172678.80eaf8","type":"switch","z":"855dcde9.c9426","name":"Grava áudio ou tira foto?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":613,"y":33,"wires":[["23e0da82.20a346"],["6785bed3.221b9"]]},{"id":"6785bed3.221b9","type":"camerapi-takephoto","z":"855dcde9.c9426","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"60","contrast":"20","sharpness":"0","imageeffect":"none","name":"Tira foto","x":88,"y":485,"wires":[["d2902d1f.8a52f"]]},{"id":"d2902d1f.8a52f","type":"visual-recognition-v3","z":"855dcde9.c9426","name":"","apikey":"__PWRD__","image-feature":"recognizeText","lang":"en","x":261.5,"y":486,"wires":[["88eb37ed.f02f88"]]},{"id":"92fd1b74.7e7098","type":"wiotp in","z":"855dcde9.c9426","authType":"d","deviceKey":"e4d4684d.51e148","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"Evento: tomar remédio","x":135,"y":575,"wires":[["82cb9dcf.ed0e"]]},{"id":"82cb9dcf.ed0e","type":"function","z":"855dcde9.c9426","name":"Trata evento","func":"global.set('takePicture', 1);\nmsg.payload = \"Pressione o botão para tirar uma foto\";\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":574,"wires":[["14978f04.234cb1"]]},{"id":"14978f04.234cb1","type":"watson-text-to-speech","z":"855dcde9.c9426","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"Bfz8kkXUPGfC","x":518,"y":615,"wires":[["57b6685c.1529b8"]]},{"id":"57b6685c.1529b8","type":"speaker out","z":"855dcde9.c9426","name":"Speaker Out","channels":"1","bitDepth":"16","sampleRate":"22050","x":704,"y":618,"wires":[]},{"id":"88eb37ed.f02f88","type":"function","z":"855dcde9.c9426","name":"Valida análise","func":"var text = msg.result.images[0].text;\nif(text && text.length > 0 && text==\"bot\"){\n    global.set('takePicture', 5);\n    msg.payload = \"Foto capturada com sucesso. Texto: \"+text;\n}else{\n    var pictures = global.get('takePicture') + 1;\n    global.set('takePicture', pictures);\n    msg.payload = \"Tentar novamente.\";\n    if(pictures > 2){\n        global.set('takePicture', 5);\n        msg.payload = \"Não conseguimos analisar a imagem\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":486,"wires":[["2d100f5c.c81a8"]]},{"id":"2d100f5c.c81a8","type":"watson-text-to-speech","z":"855dcde9.c9426","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"Bfz8kkXUPGfC","x":631,"y":488,"wires":[["f86aa860.aa5808"]]},{"id":"f86aa860.aa5808","type":"speaker out","z":"855dcde9.c9426","name":"Speaker Out","channels":"2","bitDepth":"16","sampleRate":"11025","x":816,"y":487,"wires":[]},{"id":"cb0997e6.661588","type":"switch","z":"855dcde9.c9426","name":"Saudação?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ola, tudo bem? Como posso ajudar?","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":767,"y":242,"wires":[["9bc29a20.3cc9a8","24b97c69.ee0d14"],[]]},{"id":"d76030b9.91457","type":"rpi-gpio out","z":"855dcde9.c9426","name":"","pin":"12","set":false,"level":"0","out":"pwm","x":1003,"y":253,"wires":[]},{"id":"9bc29a20.3cc9a8","type":"delay","z":"855dcde9.c9426","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":806.5,"y":311,"wires":[["f9ebb9b0.285208"]]},{"id":"24b97c69.ee0d14","type":"function","z":"855dcde9.c9426","name":"PWM","func":"msg.payload = 10;\nreturn msg;","outputs":1,"noerr":0,"x":930.5,"y":186,"wires":[["d76030b9.91457"]]},{"id":"b20dbe88.10519","type":"inject","z":"855dcde9.c9426","name":"Simula botão","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":78,"wires":[["4a0019de.8140e8"]]},{"id":"23e0da82.20a346","type":"function","z":"855dcde9.c9426","name":"Gravando","func":"if(global.get('recording')){\n    msg.payload = false;\n}else{\n    msg.payload = true\n    global.set('recording', true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":122.5,"y":197,"wires":[["b293b816.e4ff68"]]},{"id":"218ccf26.23373","type":"function","z":"855dcde9.c9426","name":"Para gravação","func":"global.set('recording', false);\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":196,"wires":[["e636a57a.d23338"]]},{"id":"4a0019de.8140e8","type":"function","z":"855dcde9.c9426","name":"Carrega variáveis locais","func":"var pictures = global.get('takePicture');\n\nif(pictures !==null && pictures < 3){\n    msg.payload = false;\n}else{\n    msg.payload = true;\n}\nmsg.pictures = pictures;\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":35,"wires":[["c8172678.80eaf8"]]},{"id":"8d5a6c10.04aa5","type":"serial in","z":"855dcde9.c9426","name":"Leitura RFID","serial":"153e6343.f209ed","x":99.5,"y":631,"wires":[["4617af7e.84142"]]},{"id":"4617af7e.84142","type":"http request","z":"855dcde9.c9426","name":"Identifica cliente","method":"GET","ret":"txt","url":"https://tj-care.mybluemix.net/patient","tls":"","x":276.5,"y":631,"wires":[["14978f04.234cb1"]]},{"id":"f9ebb9b0.285208","type":"function","z":"855dcde9.c9426","name":"PWM","func":"msg.payload = 20;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":310,"wires":[["d76030b9.91457"]]},{"id":"80d259b6.56d9e8","type":"comment","z":"855dcde9.c9426","name":"Conversa com Watson por som","info":"","x":185,"y":145,"wires":[]},{"id":"6ce8a2cb.41ce8c","type":"comment","z":"855dcde9.c9426","name":"Reconhece imagem do remédio","info":"","x":166,"y":435,"wires":[]},{"id":"69a085d9.ec907c","type":"comment","z":"855dcde9.c9426","name":"Eventos","info":"","x":87,"y":529,"wires":[]}]