Code/ServerNodeRedFlow.txt
[{"id":"b224ef4b.fad5c","type":"tab","label":"Flow 1"},{"id":"71a0f614.3c6f08","type":"tab","label":"Interpretacao da Conversa"},{"id":"76e79e06.858bb8","type":"tab","label":"Cadastro de Remedio"},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"b224ef4b.fad5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"raspi2","deviceType":"Raspiberry","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Envia para RPI","service":"registered","x":745,"y":86,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"b224ef4b.fad5c","name":"Envia","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":88,"y":89,"wires":[["744666cf.4553c8"]]},{"id":"86df0b6c.af90c8","type":"comment","z":"b224ef4b.fad5c","name":"Simula evento de tomar remédio","info":"","x":150,"y":40,"wires":[]},{"id":"dfee0c5.837477","type":"http in","z":"71a0f614.3c6f08","name":"Endpoint","url":"/tjBotChat","method":"post","swaggerDoc":"","x":75.5,"y":38,"wires":[["f164c7f1.987e48"]]},{"id":"f164c7f1.987e48","type":"function","z":"71a0f614.3c6f08","name":"Extrai mensagem","func":"msg.user = \"Mayco\";\nreturn msg;","outputs":1,"noerr":0,"x":250.5,"y":40,"wires":[["c3e53a07.4d0f9"]]},{"id":"c3e53a07.4d0f9","type":"watson-conversation-v1","z":"71a0f614.3c6f08","name":"","workspaceid":"d1dab648-7fa8-405e-906a-b40cef3479c7","multiuser":false,"context":true,"x":434.5,"y":40,"wires":[["1ec94c6.bb702b4"]]},{"id":"1ec94c6.bb702b4","type":"function","z":"71a0f614.3c6f08","name":"Processa resposta","func":"msg.nextStep = \"continue\";\nif(msg.payload.entities.length >0 ){\n    if(msg.payload.output.text[0].indexOf(\"Temperatura cadastrada\") > -1){\n        msg.temp = msg.payload.entities[0].metadata.numeric_value;\n        msg.type = \"Temperatura\";\n        msg.nextStep = \"registerTemperature\";\n    }\n}\nelse if (msg.payload.output.text[0].indexOf(\"Ultima temperatura\") > -1){\n    msg.nextStep = \"getLastTemperature\";\n\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":620.5,"y":39,"wires":[["c7e708df.9c8788"]]},{"id":"c7e708df.9c8788","type":"switch","z":"71a0f614.3c6f08","name":"Controle de Jornada","property":"nextStep","propertyType":"msg","rules":[{"t":"eq","v":"registerTemperature","vt":"str"},{"t":"eq","v":"getLastTemperature","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":105,"y":300,"wires":[["90337b92.3fb6a"],["af1aee2a.8d7d4"],["556cbb00.cbb2b4"]]},{"id":"64f4a7a2.5454a8","type":"cloudant in","z":"71a0f614.3c6f08","name":"db","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":500,"y":169,"wires":[["67fa0de9.973b2c"]]},{"id":"90337b92.3fb6a","type":"function","z":"71a0f614.3c6f08","name":"Seleciona Paciente","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":345.5,"y":171,"wires":[["64f4a7a2.5454a8"]]},{"id":"f2ee0231.cf2c38","type":"template","z":"76e79e06.858bb8","name":"Post Medicines","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title> Wary - Cadastro de Remédios</title>\n\t</head>\n\t<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  -webkit-font-smoothing: antialiased;\n  -moz-font-smoothing: antialiased;\n  -o-font-smoothing: antialiased;\n  font-smoothing: antialiased;\n  text-rendering: optimizeLegibility;\n}\n\nbody {\n  font-family: Trebuchet MS, Arial, sans-serif;\n  font-weight: 100;\n  font-size: 12px;\n  line-height: 30px;\n  color: #777;\n  background-image: url(http://ap.imagensbrasil.org/images/2017/03/25/IMG_202216c8a68.jpg);\n}\n\n.container {\n  max-width: 550px;\n  width: 100%;\n  margin: 0 auto; \n  position: relative;\n}\n\n#logo{\n\twidth:400px;\n\tmargin-left: 60px;\n\tmargin-top: -20px;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea,\n#contact button[type=\"submit\"] {\n  font: 400 12px/16px Trebuchet MS, Helvetica, Arial, sans-serif;\n}\n\n#contact {\n  background: #F9F9F9;\n  padding: 25px;\n  margin: 150px 0;\n  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n  border-radius: 10px;\n}\n\n#contact h3 {\n  display: block;\n  font-size: 30px;\n  font-weight: 300;\n  margin-bottom: 10px;\n}\n\n#contact h4 {\n  margin: 5px 0 15px;\n  display: block;\n  font-size: 13px;\n  font-weight: 400;\n}\n\nfieldset {\n  border: medium none !important;\n  margin: 0 0 10px;\n  min-width: 100%;\n  padding: 0;\n  width: 100%;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea {\n  width: 100%;\n  border: 1px solid #ccc;\n  background: #FFF;\n  margin: 0 0 5px;\n  padding: 10px;\n}\n\n#contact input[type=\"text\"]:hover,\n#contact input[type=\"email\"]:hover,\n#contact input[type=\"tel\"]:hover,\n#contact input[type=\"url\"]:hover,\n#contact textarea:hover {\n  -webkit-transition: border-color 0.3s ease-in-out;\n  -moz-transition: border-color 0.3s ease-in-out;\n  transition: border-color 0.3s ease-in-out;\n  border: 1px solid #aaa;\n}\n\n#contact textarea {\n  height: 100px;\n  max-width: 100%;\n  resize: none;\n}\n\n#contact button[type=\"submit\"] {\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 10px;\n  font-size: 15px;\n}\n\na {\n  cursor: pointer;\n  width: 48%;\n  margin-left: 15px;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: right;\n  text-decoration: none;\n}\n\na:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:active {\n  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);\n}\n\n.copyright {\n  text-align: center;\n}\n\n#contact input:focus,\n#contact textarea:focus {\n  outline: 0;\n  border: 1px solid #C5D5D1;\n}\n\n::-webkit-input-placeholder {\n  color: #888;\n}\n\n:-moz-placeholder {\n  color: #888;\n}\n\n::-moz-placeholder {\n  color: #888;\n}\n\n:-ms-input-placeholder {\n  color: #888;\n}\n\t</style>\n\t<body>\n\t  <div class=\"container\">  \n  <form id=\"contact\" action=\"/postMedicine\" method=\"post\">\n\t<img id=\"logo\" src=\"http://ap.imagensbrasil.org/images/2017/03/26/logos2dc554.png\" alt=\"Logo da Empresa\" border=\"0\" />\n    <center><h4>Preencha o formulário com os dados pertinentes do paciente.</h4><center>\n    <fieldset>\n      <input name=\"remedio\" placeholder=\"Remédio\" type=\"text\" tabindex=\"1\" required autofocus>\n    </fieldset>\n    <fieldset>\n      <input name=\"posologia\" placeholder=\"Posologia\" type=\"text\" tabindex=\"2\" required>\n    </fieldset>\n    <fieldset>\n      <input name=\"horario\" placeholder=\"Horário\" type=\"text\" tabindex=\"3\" required>\n    </fieldset>\n    <fieldset>\n\t\t<button type=\"submit\" id=\"contact-submit\" data-submit=\"...Enviando\">Cadastrar</button>\n        <a id=\"lista\" href=\"/listMedicine\">Listar Remédios</a>\n    </fieldset>\n  </form>\n  \n</div>\n</body>\n</html>","x":383,"y":86,"wires":[["9e29f2ba.41a758"]]},{"id":"fe52951e.9411a","type":"http in","z":"76e79e06.858bb8","name":"","url":"/medicine","method":"get","swaggerDoc":"","x":107,"y":87,"wires":[["f2ee0231.cf2c38"]]},{"id":"67fa0de9.973b2c","type":"function","z":"71a0f614.3c6f08","name":"Update","func":"msg.payload.temperatures.push(msg.temp);\nreturn msg;","outputs":1,"noerr":0,"x":637,"y":173,"wires":[["e4e9dbb8.399d68","e96cedf8.37ff7"]]},{"id":"e4e9dbb8.399d68","type":"cloudant out","z":"71a0f614.3c6f08","name":"db","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","payonly":true,"operation":"insert","x":808.5,"y":196,"wires":[]},{"id":"3583fce3.17169c","type":"http in","z":"76e79e06.858bb8","name":"","url":"/postMedicine","method":"post","swaggerDoc":"","x":101,"y":303,"wires":[["554aef21.28ae5"]]},{"id":"1eb8358e.914d12","type":"cloudant in","z":"76e79e06.858bb8","name":"paciente in","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":652,"y":304,"wires":[["161d65ec.a209ca"]]},{"id":"5bb4697.0604f18","type":"cloudant out","z":"76e79e06.858bb8","name":"paciente out","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","payonly":true,"operation":"insert","x":974,"y":263,"wires":[]},{"id":"daa246aa.95708","type":"function","z":"76e79e06.858bb8","name":"Get Patient Data","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":303,"wires":[["1eb8358e.914d12"]]},{"id":"161d65ec.a209ca","type":"function","z":"76e79e06.858bb8","name":"Update","func":"msg.payload.medicines.push({\n    \"posologia\" : msg.posologia,\n    \"horario\" : msg.horario,\n    \"remedio\" : msg.remedio\n});\nreturn msg;","outputs":1,"noerr":0,"x":803,"y":304,"wires":[["5bb4697.0604f18","37f87ed5.7716a2"]]},{"id":"556cbb00.cbb2b4","type":"http response","z":"71a0f614.3c6f08","name":"","x":315,"y":406,"wires":[]},{"id":"9f8ae8fc.4dddd","type":"http response","z":"71a0f614.3c6f08","name":"","x":998,"y":130,"wires":[]},{"id":"e96cedf8.37ff7","type":"function","z":"71a0f614.3c6f08","name":"Prepara resposta","func":"msg.payload = \"Temperatura cadastrada: \"+msg.temp+\" graus.\";\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":131,"wires":[["9f8ae8fc.4dddd"]]},{"id":"af1aee2a.8d7d4","type":"function","z":"71a0f614.3c6f08","name":"Seleciona Paciente","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":299,"wires":[["6397cbfb.16ef04"]]},{"id":"6397cbfb.16ef04","type":"cloudant in","z":"71a0f614.3c6f08","name":"db","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":506,"y":299,"wires":[["73ca7512.d8e854"]]},{"id":"73ca7512.d8e854","type":"function","z":"71a0f614.3c6f08","name":"Prepara resposta","func":"var temperatures = msg.payload.temperatures;\nmsg.payload = \"Ultima temperatura registrada \"+temperatures[temperatures.length-1];\nreturn msg;","outputs":1,"noerr":0,"x":669,"y":300,"wires":[["c8e5fb87.05ae5"]]},{"id":"c8e5fb87.05ae5","type":"http response","z":"71a0f614.3c6f08","name":"","x":827,"y":297,"wires":[]},{"id":"554aef21.28ae5","type":"function","z":"76e79e06.858bb8","name":"Get Response","func":"msg.remedio = msg.payload.remedio;\nmsg.posologia = msg.payload.posologia;\nmsg.horario = msg.payload.horario;\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":304,"wires":[["daa246aa.95708"]]},{"id":"d0b98901.e8b548","type":"http response","z":"76e79e06.858bb8","name":"","x":1006,"y":363,"wires":[]},{"id":"55a57e92.b3d86","type":"template","z":"76e79e06.858bb8","name":"List Medicines","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t<meta charset=\"utf-8\">\n\t\t<title> Wary - Listagem de Remédios</title>\n\t</head>\n\t<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  -webkit-font-smoothing: antialiased;\n  -moz-font-smoothing: antialiased;\n  -o-font-smoothing: antialiased;\n  font-smoothing: antialiased;\n  text-rendering: optimizeLegibility;\n}\n\nbody {\n  font-family: Trebuchet MS, Arial, sans-serif;\n  font-weight: 100;\n  font-size: 12px;\n  line-height: 30px;\n  color: #777;\n  background-image: url(http://ap.imagensbrasil.org/images/2017/03/25/IMG_202216c8a68.jpg);\n}\n\n.container {\n  max-width: 550px;\n  width: 100%;\n  margin: 0 auto; \n  position: relative;\n}\n\n#logo{\n\twidth:400px;\n\tmargin-left: 60px;\n\tmargin-top: -20px;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea,\n#contact button[type=\"submit\"] {\n  font: 400 12px/16px Trebuchet MS, Helvetica, Arial, sans-serif;\n}\n\n#contact {\n  background: #F9F9F9;\n  padding: 25px;\n  margin: 150px 0;\n  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n  border-radius: 10px;\n}\n\n#contact h3 {\n  display: block;\n  font-size: 30px;\n  font-weight: 300;\n  margin-bottom: 10px;\n}\n\n#contact h4 {\n  margin: 5px 0 15px;\n  display: block;\n  font-size: 13px;\n  font-weight: 400;\n}\n\nfieldset {\n  border: medium none !important;\n  margin: 0 0 10px;\n  min-width: 100%;\n  padding: 0;\n  width: 100%;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea {\n  width: 100%;\n  border: 1px solid #ccc;\n  background: #FFF;\n  margin: 0 0 5px;\n  padding: 10px;\n}\n\n#contact input[type=\"text\"]:hover,\n#contact input[type=\"email\"]:hover,\n#contact input[type=\"tel\"]:hover,\n#contact input[type=\"url\"]:hover,\n#contact textarea:hover {\n  -webkit-transition: border-color 0.3s ease-in-out;\n  -moz-transition: border-color 0.3s ease-in-out;\n  transition: border-color 0.3s ease-in-out;\n  border: 1px solid #aaa;\n}\n\n#contact textarea {\n  height: 100px;\n  max-width: 100%;\n  resize: none;\n}\n\n#contact button[type=\"submit\"] {\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 10px;\n  font-size: 15px;\n}\n#lista2{\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: right;\n  text-decoration: none;\n}\n\n#lista2:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#lista1 {\n  cursor: pointer;\n  width: 48%;\n  margin-left: 15px;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: left;\n  text-decoration: none;\n}\n\n#lista1:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:active {\n  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);\n}\n\n.copyright {\n  text-align: center;\n}\n\n#contact input:focus,\n#contact textarea:focus {\n  outline: 0;\n  border: 1px solid #C5D5D1;\n}\n\n::-webkit-input-placeholder {\n  color: #888;\n}\n\n:-moz-placeholder {\n  color: #888;\n}\n\n::-moz-placeholder {\n  color: #888;\n}\n\n:-ms-input-placeholder {\n  color: #888;\n}\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td {\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2}\n\t</style>\n\t<body>\n\t  <div class=\"container\">  \n  <form id=\"contact\" action=\"\" method=\"post\">\n\t<img id=\"logo\" src=\"http://ap.imagensbrasil.org/images/2017/03/26/logos2dc554.png\" alt=\"Logo da Empresa\" border=\"0\" />\n    <center><h4>Listagem de remédios cadastrados pelo Doutor responsável.</h4><center>\n    <fieldset>\n\t<table id=\"dados\">\n\t\t\t<tr>\n\t\t\t\t<th>Remédio</th>\n\t\t\t\t<th>Posologia</th>\n\t\t\t\t<th>Horário</th>\n\t\t\t</tr>\t\n\t\t</table>\n    </fieldset>\n    <fieldset>\n        <a id=\"lista1\" href=\"/medicine\">Cadastrar novo Remédio</a>\n        <a id=\"lista2\" href=\"/logoff\">Sair do Sistema</a>\n        </fieldset>\n  </form>\n</div>\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\t\t<script>\n\t\t$(document).ready(function() {\n\t\t\t$.get(\"https://tj-care.mybluemix.net/cadastros\", function(data){\n\t\t\t    console.log(\"get nos cadastros realizados\");\n\t\t\t\tvar rows = \"\";\n\t\t\t\t$.each(data.medicines, function(i, item){\n\t\t\t\t    rows += '<tr><td>' + item.remedio + '</td><td>' + item.posologia + '</td><td>' + item.horario + \"</td></tr>\"; \n\t\t\t\t});\n\t\t\t\t$(\"#dados\").append(rows);\n\t\t\t});\n\t\t});\n\t\t</script>\n</body>\n</html>","x":380,"y":166,"wires":[["9e29f2ba.41a758"]]},{"id":"de19981b.ab27a8","type":"http in","z":"76e79e06.858bb8","name":"","url":"/listMedicine","method":"get","swaggerDoc":"","x":110,"y":165,"wires":[["55a57e92.b3d86"]]},{"id":"9e29f2ba.41a758","type":"http response","z":"76e79e06.858bb8","name":"","x":644,"y":156,"wires":[]},{"id":"3d6c1e3e.cfe9c2","type":"http in","z":"76e79e06.858bb8","name":"","url":"/cadastros","method":"get","swaggerDoc":"","x":85,"y":442,"wires":[["8c888fb6.3ac29"]]},{"id":"a344ca0d.b9e64","type":"cloudant in","z":"76e79e06.858bb8","name":"","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":522,"y":443,"wires":[["49e99d8e.3c4b34"]]},{"id":"49e99d8e.3c4b34","type":"http response","z":"76e79e06.858bb8","name":"","x":706,"y":444,"wires":[]},{"id":"8c888fb6.3ac29","type":"function","z":"76e79e06.858bb8","name":"Get Patient Data","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":443,"wires":[["a344ca0d.b9e64"]]},{"id":"37f87ed5.7716a2","type":"template","z":"76e79e06.858bb8","name":"Post Medicines","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title> Wary - Cadastro de Remédios</title>\n\t</head>\n\t<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  -webkit-font-smoothing: antialiased;\n  -moz-font-smoothing: antialiased;\n  -o-font-smoothing: antialiased;\n  font-smoothing: antialiased;\n  text-rendering: optimizeLegibility;\n}\n\nbody {\n  font-family: Trebuchet MS, Arial, sans-serif;\n  font-weight: 100;\n  font-size: 12px;\n  line-height: 30px;\n  color: #777;\n  background-image: url(http://ap.imagensbrasil.org/images/2017/03/25/IMG_202216c8a68.jpg);\n}\n\n.container {\n  max-width: 550px;\n  width: 100%;\n  margin: 0 auto; \n  position: relative;\n}\n\n#logo{\n\twidth:400px;\n\tmargin-left: 60px;\n\tmargin-top: -20px;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea,\n#contact button[type=\"submit\"] {\n  font: 400 12px/16px Trebuchet MS, Helvetica, Arial, sans-serif;\n}\n\n#contact {\n  background: #F9F9F9;\n  padding: 25px;\n  margin: 150px 0;\n  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n  border-radius: 10px;\n}\n\n#contact h3 {\n  display: block;\n  font-size: 30px;\n  font-weight: 300;\n  margin-bottom: 10px;\n}\n\n#contact h4 {\n  margin: 5px 0 15px;\n  display: block;\n  font-size: 13px;\n  font-weight: 400;\n}\n\nfieldset {\n  border: medium none !important;\n  margin: 0 0 10px;\n  min-width: 100%;\n  padding: 0;\n  width: 100%;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea {\n  width: 100%;\n  border: 1px solid #ccc;\n  background: #FFF;\n  margin: 0 0 5px;\n  padding: 10px;\n}\n\n#contact input[type=\"text\"]:hover,\n#contact input[type=\"email\"]:hover,\n#contact input[type=\"tel\"]:hover,\n#contact input[type=\"url\"]:hover,\n#contact textarea:hover {\n  -webkit-transition: border-color 0.3s ease-in-out;\n  -moz-transition: border-color 0.3s ease-in-out;\n  transition: border-color 0.3s ease-in-out;\n  border: 1px solid #aaa;\n}\n\n#contact textarea {\n  height: 100px;\n  max-width: 100%;\n  resize: none;\n}\n\n#contact button[type=\"submit\"] {\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 10px;\n  font-size: 15px;\n}\n\na {\n  cursor: pointer;\n  width: 48%;\n  margin-left: 15px;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: right;\n  text-decoration: none;\n}\n\na:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:active {\n  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);\n}\n\n.copyright {\n  text-align: center;\n}\n\n#contact input:focus,\n#contact textarea:focus {\n  outline: 0;\n  border: 1px solid #C5D5D1;\n}\n\n::-webkit-input-placeholder {\n  color: #888;\n}\n\n:-moz-placeholder {\n  color: #888;\n}\n\n::-moz-placeholder {\n  color: #888;\n}\n\n:-ms-input-placeholder {\n  color: #888;\n}\n\t</style>\n\t<body>\n\t  <div class=\"container\">  \n  <form id=\"contact\" action=\"/postMedicine\" method=\"post\">\n\t<img id=\"logo\" src=\"http://ap.imagensbrasil.org/images/2017/03/26/logos2dc554.png\" alt=\"Logo da Empresa\" border=\"0\" />\n    <center><h4>Preencha o formulário com os dados pertinentes do paciente.</h4><center>\n    <fieldset>\n      <input name=\"remedio\" placeholder=\"Remédio\" type=\"text\" tabindex=\"1\" required autofocus>\n    </fieldset>\n    <fieldset>\n      <input name=\"posologia\" placeholder=\"Posologia\" type=\"text\" tabindex=\"2\" required>\n    </fieldset>\n    <fieldset>\n      <input name=\"horario\" placeholder=\"Horário\" type=\"text\" tabindex=\"3\" required>\n    </fieldset>\n    <fieldset>\n\t\t<button type=\"submit\" id=\"contact-submit\" data-submit=\"...Enviando\">Cadastrar</button>\n        <a id=\"lista\" href=\"/listMedicine\">Listar Remédios</a>\n    </fieldset>\n  </form>\n  \n</div>\n</body>\n</html>","x":980,"y":325,"wires":[["d0b98901.e8b548"]]},{"id":"744666cf.4553c8","type":"function","z":"b224ef4b.fad5c","name":"Seleciona Paciente","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":88,"wires":[["94071edf.a67b38"]]},{"id":"94071edf.a67b38","type":"cloudant in","z":"b224ef4b.fad5c","name":"db","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":397,"y":87,"wires":[["a834387f.39b1a8"]]},{"id":"a834387f.39b1a8","type":"function","z":"b224ef4b.fad5c","name":"Recupera remédio","func":"var medicines = msg.payload.medicines;\nmsg.payload = medicines[medicines.length - 1];\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":87,"wires":[["cbe1a0b7.cd877"]]},{"id":"f7f88800.755778","type":"template","z":"76e79e06.858bb8","name":"Logoff","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t<meta charset=\"utf-8\">\n\t\t<title> Wary - Listagem de Remédios</title>\n\t</head>\n\t<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  -webkit-font-smoothing: antialiased;\n  -moz-font-smoothing: antialiased;\n  -o-font-smoothing: antialiased;\n  font-smoothing: antialiased;\n  text-rendering: optimizeLegibility;\n}\n\nbody {\n  font-family: Trebuchet MS, Arial, sans-serif;\n  font-weight: 100;\n  font-size: 12px;\n  line-height: 30px;\n  color: #777;\n  background-image: url(http://ap.imagensbrasil.org/images/2017/03/25/IMG_202216c8a68.jpg);\n}\n\n.container {\n  max-width: 550px;\n  width: 100%;\n  margin: 0 auto; \n  position: relative;\n}\n\n#logo{\n\twidth:400px;\n\tmargin-left: 60px;\n\tmargin-top: -20px;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea,\n#contact button[type=\"submit\"] {\n  font: 400 12px/16px Trebuchet MS, Helvetica, Arial, sans-serif;\n}\n\n#contact {\n  background: #F9F9F9;\n  padding: 25px;\n  margin: 150px 0;\n  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n  border-radius: 10px;\n}\n\n#contact h3 {\n  display: block;\n  font-size: 30px;\n  font-weight: 300;\n  margin-bottom: 10px;\n}\n\n#contact h4 {\n  margin: 5px 0 15px;\n  display: block;\n  font-size: 13px;\n  font-weight: 400;\n}\n\nfieldset {\n  border: medium none !important;\n  margin: 0 0 10px;\n  min-width: 100%;\n  padding: 0;\n  width: 100%;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea {\n  width: 100%;\n  border: 1px solid #ccc;\n  background: #FFF;\n  margin: 0 0 5px;\n  padding: 10px;\n}\n\n#contact input[type=\"text\"]:hover,\n#contact input[type=\"email\"]:hover,\n#contact input[type=\"tel\"]:hover,\n#contact input[type=\"url\"]:hover,\n#contact textarea:hover {\n  -webkit-transition: border-color 0.3s ease-in-out;\n  -moz-transition: border-color 0.3s ease-in-out;\n  transition: border-color 0.3s ease-in-out;\n  border: 1px solid #aaa;\n}\n\n#contact textarea {\n  height: 100px;\n  max-width: 100%;\n  resize: none;\n}\n\n#contact button[type=\"submit\"] {\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 10px;\n  font-size: 15px;\n}\n#lista2{\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: left;\n  text-decoration: none;\n}\n\n#lista2:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#lista1 {\n  cursor: pointer;\n  width: 48%;\n  margin-left: 15px;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: right;\n  text-decoration: none;\n}\n\n#lista1:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:active {\n  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);\n}\n\n.copyright {\n  text-align: center;\n}\n\n#contact input:focus,\n#contact textarea:focus {\n  outline: 0;\n  border: 1px solid #C5D5D1;\n}\n\n::-webkit-input-placeholder {\n  color: #888;\n}\n\n:-moz-placeholder {\n  color: #888;\n}\n\n::-moz-placeholder {\n  color: #888;\n}\n\n:-ms-input-placeholder {\n  color: #888;\n}\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td {\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2}\n\t</style>\n\t<body>\n\t  <div class=\"container\">  \n  <form id=\"contact\" action=\"\" method=\"post\">\n\t<img id=\"logo\" src=\"http://ap.imagensbrasil.org/images/2017/03/26/logos2dc554.png\" alt=\"Logo da Empresa\" border=\"0\" />\n    <center><h4></h4><center>\n    <fieldset>\n\t<center><h3> Deslogado com sucesso. </h3></center>\n  </form>\n</div>\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\t\t<script>\n\t\t$(document).ready(function() {\n\t\t\t$.get(\"https://tj-care.mybluemix.net/cadastros\", function(data){\n\t\t\t    console.log(\"get nos cadastros realizados\");\n\t\t\t\tvar rows = \"\";\n\t\t\t\t$.each(data.medicines, function(i, item){\n\t\t\t\t    rows += '<tr><td>' + item.remedio + '</td><td>' + item.posologia + '</td><td>' + item.horario + \"</td></tr>\"; \n\t\t\t\t});\n\t\t\t\t$(\"#dados\").append(rows);\n\t\t\t});\n\t\t});\n\t\t</script>\n</body>\n</html>","x":407,"y":223,"wires":[["9e29f2ba.41a758"]]},{"id":"15b77465.8e1fa4","type":"http in","z":"76e79e06.858bb8","name":"","url":"/logoff","method":"get","swaggerDoc":"","x":105,"y":226,"wires":[["f7f88800.755778"]]},{"id":"e6f4da0a.a08c8","type":"http in","z":"76e79e06.858bb8","name":"","url":"/listTemperature","method":"get","swaggerDoc":"","x":117,"y":552,"wires":[["a2bb213c.c20148"]]},{"id":"a2bb213c.c20148","type":"template","z":"76e79e06.858bb8","name":"List Temperature","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t<meta charset=\"utf-8\">\n\t\t<title> Wary - Listagem de Temperaturas</title>\n\t</head>\n\t<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  -webkit-font-smoothing: antialiased;\n  -moz-font-smoothing: antialiased;\n  -o-font-smoothing: antialiased;\n  font-smoothing: antialiased;\n  text-rendering: optimizeLegibility;\n}\n\nbody {\n  font-family: Trebuchet MS, Arial, sans-serif;\n  font-weight: 100;\n  font-size: 12px;\n  line-height: 30px;\n  color: #777;\n  background-image: url(http://ap.imagensbrasil.org/images/2017/03/25/IMG_202216c8a68.jpg);\n}\n\n.container {\n  max-width: 550px;\n  width: 100%;\n  margin: 0 auto; \n  position: relative;\n}\n\n#logo{\n\twidth:400px;\n\tmargin-left: 60px;\n\tmargin-top: -20px;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea,\n#contact button[type=\"submit\"] {\n  font: 400 12px/16px Trebuchet MS, Helvetica, Arial, sans-serif;\n}\n\n#contact {\n  background: #F9F9F9;\n  padding: 25px;\n  margin: 150px 0;\n  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);\n  border-radius: 10px;\n}\n\n#contact h3 {\n  display: block;\n  font-size: 30px;\n  font-weight: 300;\n  margin-bottom: 10px;\n}\n\n#contact h4 {\n  margin: 5px 0 15px;\n  display: block;\n  font-size: 13px;\n  font-weight: 400;\n}\n\nfieldset {\n  border: medium none !important;\n  margin: 0 0 10px;\n  min-width: 100%;\n  padding: 0;\n  width: 100%;\n}\n\n#contact input[type=\"text\"],\n#contact input[type=\"email\"],\n#contact input[type=\"tel\"],\n#contact input[type=\"url\"],\n#contact textarea {\n  width: 100%;\n  border: 1px solid #ccc;\n  background: #FFF;\n  margin: 0 0 5px;\n  padding: 10px;\n}\n\n#contact input[type=\"text\"]:hover,\n#contact input[type=\"email\"]:hover,\n#contact input[type=\"tel\"]:hover,\n#contact input[type=\"url\"]:hover,\n#contact textarea:hover {\n  -webkit-transition: border-color 0.3s ease-in-out;\n  -moz-transition: border-color 0.3s ease-in-out;\n  transition: border-color 0.3s ease-in-out;\n  border: 1px solid #aaa;\n}\n\n#contact textarea {\n  height: 100px;\n  max-width: 100%;\n  resize: none;\n}\n\n#contact button[type=\"submit\"] {\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 10px;\n  font-size: 15px;\n}\n#lista2{\n  cursor: pointer;\n  width: 48%;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  text-decoration: none;\n}\n\n#lista2:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#lista1 {\n  cursor: pointer;\n  width: 48%;\n  margin-left: 15px;\n  border: none;\n  background: #00A4BF;\n  color: #FFF;\n  padding: 4px;\n  font-size: 15px;\n  display: block;\n  float: left;\n  text-decoration: none;\n}\n\n#lista1:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:hover {\n  background: #006D7F;\n  -webkit-transition: background 0.3s ease-in-out;\n  -moz-transition: background 0.3s ease-in-out;\n  transition: background-color 0.3s ease-in-out;\n}\n\n#contact button[type=\"submit\"]:active {\n  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);\n}\n\n.copyright {\n  text-align: center;\n}\n\n#contact input:focus,\n#contact textarea:focus {\n  outline: 0;\n  border: 1px solid #C5D5D1;\n}\n\n::-webkit-input-placeholder {\n  color: #888;\n}\n\n:-moz-placeholder {\n  color: #888;\n}\n\n::-moz-placeholder {\n  color: #888;\n}\n\n:-ms-input-placeholder {\n  color: #888;\n}\ntable {\n    border-collapse: collapse;\n    width: 100%;\n}\n\nth, td {\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even){background-color: #f2f2f2}\n\t</style>\n\t<body>\n\t  <div class=\"container\">  \n  <form id=\"contact\" action=\"\" method=\"post\">\n\t<img id=\"logo\" src=\"http://ap.imagensbrasil.org/images/2017/03/26/logos2dc554.png\" alt=\"Logo da Empresa\" border=\"0\" />\n    <center><h4>Listagem das temperaturas cadastradas pelo comando de voz.</h4><center>\n    <fieldset>\n\t<table id=\"dados\">\n\t\t\t<tr>\n\t\t\t\t<th>Temperatura</th>\n\t\t\t</tr>\t\n\t\t</table>\n    </fieldset>\n    <fieldset>\n         <a id=\"lista2\" href=\"/medicine\">Cadastrar novo Remédio</a>\n        </fieldset>\n  </form>\n</div>\n\t<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n\t\t<script>\n\t\t$(document).ready(function() {\n\t\t\t$.get(\"https://tj-care.mybluemix.net/cadastros\", function(data){\n\t\t\t    console.log(\"get nos cadastros realizados\");\n\t\t\t\tvar rows = \"\";\n\t\t\t\t$.each(data.temperatures, function(i, item){\n\t\t\t\t    rows += '<tr><td>' + item + \"</td></tr>\"; \n\t\t\t\t});\n\t\t\t\t$(\"#dados\").append(rows);\n\t\t\t});\n\t\t});\n\t\t</script>\n</body>\n</html>","x":362,"y":552,"wires":[["e9239208.d88b3"]]},{"id":"e9239208.d88b3","type":"http response","z":"76e79e06.858bb8","name":"","x":554,"y":552,"wires":[]},{"id":"ad8d6c4b.0cc1c","type":"comment","z":"71a0f614.3c6f08","name":"Registra Temperatura","info":"","x":348.5,"y":130,"wires":[]},{"id":"306ff6e0.aafa6a","type":"comment","z":"71a0f614.3c6f08","name":"Recupera Temperatura","info":"","x":357,"y":246,"wires":[]},{"id":"cd314f6f.a90818","type":"comment","z":"71a0f614.3c6f08","name":"Conversation normal","info":"","x":350,"y":353,"wires":[]},{"id":"ca6773a7.46b6","type":"function","z":"b224ef4b.fad5c","name":"Pega dado do Paciente","func":"msg.payload = {\n    _id:\"31df932b74ca6acf9db09293dae8bbde\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":183,"wires":[["b859b001.6ebec8"]]},{"id":"b859b001.6ebec8","type":"cloudant in","z":"b224ef4b.fad5c","name":"db","cloudant":"","database":"patientdata","service":"Tj Care-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":498,"y":184,"wires":[["9a0967d1.63caa8"]]},{"id":"e1e6e90b.251c78","type":"http in","z":"b224ef4b.fad5c","name":"Identifica Paciente","url":"/patient","method":"get","swaggerDoc":"","x":116.5,"y":185,"wires":[["ca6773a7.46b6"]]},{"id":"9a0967d1.63caa8","type":"function","z":"b224ef4b.fad5c","name":"Prepara resposta","func":"var resposta = \"Usuário identificado. Nome \"+\n    msg.payload.name +\" . Idade \"+\n    msg.payload.age;\nmsg.payload = resposta;\nreturn msg;","outputs":1,"noerr":0,"x":669,"y":183,"wires":[["7941864d.6e2798"]]},{"id":"7941864d.6e2798","type":"http response","z":"b224ef4b.fad5c","name":"","x":830.5,"y":182,"wires":[]},{"id":"7f572af9.4997a4","type":"comment","z":"b224ef4b.fad5c","name":"Retorna dados do cliente baseado em RFID","info":"","x":196,"y":141,"wires":[]}]